body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

#header {
    margin-bottom: 40px;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.select-btn {
    background-color: rgb(87, 175, 87);
    color: white;
    font-size: 1.2em;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputs {
    font-size: 40px;
    /* width: 70%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.input-container {
    align-items: center;
}

.row {
    margin: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: space-between;
}

.outputs {
    /* border: 1px solid red; */
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

.output {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.output h5 {
    font-size: 1.5em;
}

.output p {
    font-size: 3em;
}

#install-price {
    display: none;
}

#install-price-cont {
    display: none;
}

#product-install-cont {
    display: none;
}

.display {
    display: block;
}